<ul class="logotypes no-select">
  <li>
    <img src="{{ link "/assets/logo/ft.png" }}" alt="Financial Times" />
    <span>Financial Times</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/orange.png" }}" alt="Orange" />
    <span>Orange</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/vw.png" }}" alt="Volkswagen" />
    <span>Volkswagen</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/xbox.png" }}" alt="Xbox" />
    <span>Microsoft Xbox</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/namco.png" }}" alt="Namco" />
    <span>Namco</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/yo-sushi.png" }}" alt="Yo! Sushi" />
    <span>Yo! Sushi</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/lastminute.png" }}" alt="Lastminute" />
    <span>Lastminute</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/square-enix.png" }}" alt="Square Enix" />
    <span>Square Enix</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/bbc.png" }}" alt="BBC" />
    <span>BBC</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/ford.png" }}" alt="Ford" />
    <span>Ford</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/nokia.png" }}" alt="Nokia" />
    <span>Nokia</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/vidal-sassoon.png" }}" alt="Vidal Sassoon" />
    <span>Vidal Sassoon</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/agency/method.png" }}" alt="Method" />
    <span>Method</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/agency/tribal-ddb.png" }}" alt="Tribal DDB" />
    <span>Tribal DDB</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/agency/digitas-lbi.png" }}" alt="Digitas LBi" />
    <span>LBi</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/agency/wunderman.png" }}" alt="Wunderman" />
    <span>Wunderman</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/agency/saatchi.png" }}" alt="Saatchi &amp; Saatchi" />
    <span>Saatchi &amp; Saatchi</span>
  </li>
  <li>
    <img src="{{ link "/assets/logo/agency/start-design.png" }}" alt="Start Design") />
    <span>Start Design</span>
  </li>
</ul>
