<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}} {{author_url}}">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <link rel="canonical" href="https://tmpfs.org">
    <link rel="stylesheet" href="{{ link "/assets/style.css" }}">
    <link rel="icon" href="{{ link "/assets/favicon.png" }}">

    <script>
      if(localStorage && localStorage.getItem('contrast') === 'dark') {
        var el = document.querySelector('html');
        if(el.classList) {
          el.classList.add('dark');
        }
      }
    </script>

  </head>
  <body>
    {{> header}}
    <main id="{{ context.name }}">{{{template}}}</main>
    {{> footer}}

    <noscript>
      <style scoped>
          .contrast {display: none !important};
      </style>
    </noscript>


    <script src="{{ link "/assets/js/main.js" }}" type="module"></script>

    <template>
      <div class="preload">
        <div class="background"></div>
        <div class="message no-select">
            <span>
              <span class="spinner"></span>
              <em>&nbsp;</em>
            </span>
        </div>
      </div>
    </template>

    {{#if context.options.livereload}}
      <script type="text/javascript">
          var socket = new WebSocket("{{{context.options.livereload}}}");
          socket.onmessage = (event) => {
              if (event.data === "reload") {
                  socket.close();
                  location.reload();
              }
          };
          window.onbeforeunload = () => socket.close();
      </script>
    {{/if}}
  </body>
</html>
