<header>
  <nav>
    <a {{match "/" "class='selected'"}} href="{{ link "/" }}" title="Home">Home</a>
    <a {{match "/work/" "class='selected'"}} href="{{ link "/work/" }}" title="Work">Work</a>
    <a {{match "/about/" "class='selected'"}} href="{{ link "/about/" }}" title="About">About</a>
  </nav>
</header>
