<header>
  <nav>
    <a {{match "/" "class='selected'"}} href="{{ link "/" }}" title="Home">Home</a>
    <a {{match "/blog/" "class='selected'"}} href="{{ link "/blog/" }}" title="Blog">Blog</a>
    <a {{match "/work/" "class='selected'"}} href="{{ link "/work/" }}" title="Work">Work</a>
  </nav>
</header>
