<header>
  <nav>
    <a {{match "/" "class='selected'"}} href="{{ link "/" }}" title="Home">Home</a>
    <a {{match "/work/" "class='selected'"}} href="{{ link "/work/" }}" title="Work">Work</a>
    <a href="{{members.blog}}" title="Weblog">Blog</a>
  </nav>
</header>
